<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162045596678-rt6lqjdaf4qj4m6h9a91nmonamutku9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162045596678-rt6lqjdaf4qj4m6h9a91nmonamutku9o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>162045596678-76r4mnqc3vr8oaecvtv2fk9p2bbrs9b2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzF4ReOM4KCPpxfLmSHUCmszhqv1RUK1E</string>
	<key>GCM_SENDER_ID</key>
	<string>162045596678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.easyflutterflowapp</string>
	<key>PROJECT_ID</key>
	<string>wallet-with-flutterflow</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-with-flutterflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162045596678:ios:b318a75fbedd0827f3df87</string>
</dict>
</plist>